aiodns==3.0.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiosignal==1.2.0
apipkg==2.1.0
apparmor==1.0.1
async-timeout==4.0.2
attrs==22.1.0
autoenv==1.0.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
black==22.8.0
Brlapi==0.8.4
Brotli==1.0.9
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
cmdln==2.0.0
configobj==5.0.6
createrepo-c==0.20.1
cryptography==38.0.1
cssselect==1.1.0
cupshelpers==1.0
decorator==5.1.1
distlib==0.3.6
filelock==3.8.0
flake8==5.0.4
frozenlist==1.3.1
guake==3.8.5
httplib2==0.20.4
idna==3.4
importlib-metadata==4.12.0
iniconfig==0.0.0
LibAppArmor==3.0.7
louis==3.23.0
lxml==4.9.1
mccabe==0.7.0
multidict==6.0.2
mypy-extensions==0.4.3
mysqlclient==2.1.1
nftables==0.1
notify2==0.3.1
olefile==0.46
packaging==21.3
pathspec==0.10.1
Pillow==9.2.0
pip==22.0.4
platformdirs==2.5.2
pluggy==1.0.0
psutil==5.9.3
py==1.11.0
pycairo==1.21.0
pycares==4.2.2
pycodestyle==2.9.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.1
pyflakes==2.5.0
PyGObject==3.42.2
pyOpenSSL==22.1.0
pyparsing==3.0.9
pysmbc==1.0.23
PySocks==1.7.1
pytest==7.1.2
python-linux-procfs==0.6
pyudev==0.24.0
requests==2.28.1
rpm==4.17.1.1
setuptools==65.5.0
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
soupsieve==2.3.2.post1
toml==0.10.2
tomli==2.0.1
tox==3.26.0
typing_extensions==4.4.0
urllib3==1.26.12
variety==0.8.9
virtualenv==20.16.6
yarl==1.8.1
zipp==3.8.1
